@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cluster_builder{
  margin: 0vh 10vw 0vh 10vw;
  text-align: left;
}

.home_breadcrumbs{
  margin-left: 5vw;
  margin-top: 1vh;
}

.home_layout{
  text-align: start;
  background-color: white;
}

.home_content{
  background-color: white;
  margin: 1vh 5vw 1vh 5vw;
}

@media screen and (min-width: 1500px) {
  .home_content {
    width: 50%;
  }
}

.flow{
  width: 100vw;
  height: 80vh;
}

.ButtonRequest Button{
  margin: 5vh 5vh 0vh 0vh;
}

.App-link {
  color: #61dafb;
}

